html {
  position: relative;
  min-height: 100%;
  
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  /* background-color: blueviolet; */
  background-image: url('./pexels-photo-242236.jpeg');
  background-repeat: repeat;
  background-size: 100%;
  
}
.pb-8 {
  padding-bottom: 4rem;
}
.indieFlower {
  font-family: 'Indie Flower', cursive;
}
.poorStory {
  font-family: 'Poor Story', cursive;
}