.overflowTextDescription{
  height: 200px;
  overflow-x: scroll;
  border: black 1px solid;
  padding: 1rem;
}

.img-max60 {
  height: 70px;
  max-width: 100px;
}

.card:hover { 
  text-decoration: none;
}
.shadow-box{ 
  box-shadow: 0px 4px 8px rgb(100,100,100);
}